@import url('./font.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Share;
}
.container{
    max-width: 1734px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    height: 75px;
    background-color: #F9F8F4;
    display: flex;
    align-items: center;
    border: #242424 solid 1px;
}
.nav_box{
    display: flex;
    justify-content: space-between;
    
}
.nav_mobile{
    display: none;
}
.nav_logo{
    text-decoration: none;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    color: #242424;
}
.nav_list{
    display: flex;
    align-items: center;
    gap: 120px;
    list-style: none;
}
.nav_link{
    text-decoration: none;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    color: #242424;
}
.nav_right{
    display: flex;
    gap: 60px;
}
.intro{
    background-image: url(../images/intro_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 925px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro_title{
    font-weight: 400;
    font-style: Regular;
    font-size: 74px;
    text-transform: uppercase;
    color: #EEEEEE;
}
.intro_text{
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    color: #EEEEEE;
    max-width: 984px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}
.intro_btn{
    width: 264px;
    height: 80px;
    border: #EEEEEE solid 2px;
    background-color: unset;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    color: #EEEEEE;

}
#burger-toggle{
    display: none;
}
.burger{
    width: 30px;
    display: none;
    cursor: pointer;
}
.burger span{
    display: block;
    height: 3px;
    background: #000;
    margin: 6px 0;
    border-radius: 3px;
    transition: 0.3s;
}
#burger-toggle:checked + .burger span:nth-child(1){
    transform: translateY(9px) rotate(45deg);
}
#burger-toggle:checked + .burger span:nth-child(2){
    opacity: 0;
}
#burger-toggle:checked + .burger span:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
}
.menu{
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu_link{
    text-decoration: none;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    color: #242424;
}
.title{
    font-weight: 400;
    font-style: Regular;   
    font-size: 40px;
    text-transform: uppercase;
    color: #242424;
    
}
.title_box{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 22px;
    
}
.line{
    width: 144px;
    height: 2px;
    background-color: #242424;
    
}
.line1{
    width: 144px;
    height: 2px;
    background-color: #242424;
    display: none;
}
.shop_title{
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    color: #242424;
    max-width: 696px;
    width: 100%;
    margin-top: 40px;
}
.text{
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    color: #6C6C6C;
    margin-top: 20px;
    margin-bottom: 60px;
}
.shop_card{
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 1;
}
.shop_card::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
}
.shop_card:nth-child(1){
    background: url(../images/shop_card1.png) no-repeat center center /cover;
}
.shop_card:nth-child(2){
    background: url(../images/shop_card2.png) no-repeat center center/cover;
    grid-row: span 2;
}
.shop_card:nth-child(3){
    background: url(../images/shop_card3.png) no-repeat center center/cover;
}
.shop_box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 24px;
}
.shop_card span{
    width: 120px;
    height: 60px;
    background-color: #242424;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    position: absolute;
    top: 24px;
    left: 24px;
    color: #F9F8F4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_title{
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%; 
    text-transform: uppercase;
    color: #F9F8F4;
    margin-left: 24px;
    margin-bottom: 20px;
}
.card_text{
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #F9F8F4;
    margin-left: 24px;
    margin-bottom: 10px;
}
.card_price{
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: #F9F8F4;
    margin-left: 24px;
    margin-top: 30px;
    margin-bottom: 24px;
}
.b_card_title{
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%; 
    text-transform: uppercase;
    color: #F9F8F4;
    margin-left: 24px;
    margin-bottom: 20px;
}
.b_card_text{
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #F9F8F4;
    margin-left: 24px;
    margin-bottom: 10px;
}
.b_card_price{
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: #F9F8F4;
    margin-left: 24px;
    margin-top: 30px;
    margin-bottom: 24px;
}
.bestseller_title{
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    color: #242424;
    margin-top: 40px;
    margin-bottom: 20px;
}
.bestseller_card{
    width: 552px;
    min-height: 800px;
    height: 100%;
    background: url(../images/bestsellers_card1.png) no-repeat center center/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}
.card_info{
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.bestseller_card::after{
    content: "";
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    
}
.bestseller_card:nth-child(2){
   background: url(../images/bestsellers_card2.png) no-repeat center center/cover;
}
.bestseller_card:nth-child(3){
   background: url(../images/bestsellers_card3.png) no-repeat center center/cover;
}
.bestseller_card:nth-child(4){
   background: url(../images/bestsellers_card4.png) no-repeat center center/cover;
}
.bestseller_card:nth-child(5){
   background: url(../images/bestsellers_card5.png) no-repeat center center/cover;
}
.bestseller_card:nth-child(6){
   background: url(../images/bestsellers_card6.png) no-repeat center center/cover;
}
.bestseller_box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 24px;
}
.card_btn{
    width: 200px;
    height: 80px;
    background-color: #F9F8F4;
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
 

}
.card_info span{
    width: 120px;
    height: 60px;
    background-color: #242424;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9F8F4;
}
.card_info_right{
    display: flex;
    gap: 24px;
    list-style: none;
    text-decoration: none;
}
.card_info_right img{
    background-color: #F9F8F4;
    border: #F9F8F4 solid unset;
    padding: 18px;
}
.about_title{
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    color: #242424;
    margin-top: 40px;
}
.footer{
    height: 344px;
    display: flex;
    align-items: center;
    border: #242424 solid 1px;
    margin-top: 140px;
}
.footer_box{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer_list{
    display: flex;
    list-style: none;
    gap: 236px;
}
.social_title{
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
}
.footer_link{
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    color: #242424;
    text-decoration: none;
}
.social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social_icon{
    display: flex;
    gap: 40px;
    list-style: none;
}
.social_icon img{
    width: 28px;
    height: 28px;
}
